body {
    background-color: #343434;
}

.form {
    background-color: #b1b2b5;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 10px 10px 10px 10px;
    width: 500px;
}

.form input, select option {
    background-color: #d2d2d5;
}

select {
    background: #d2d2d5 !important;
}

.rounded-full {
    border-radius: 100%;
}

.input-error {
    background-color: rgb(155, 11, 11);
    margin-top: 5px;
    padding: 0.5rem;
    color: #dedddd;
    border-radius: 10px 10px 10px 10px;
    position: relative;
    text-align: center;
}

.input-error:before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(155, 11, 11) transparent;
}

.navbar {
    background-color: #232323;
    color: #cbcaca;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    z-index: 3;
}

.navlinks {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 15px;
    font-size: 18px;
}
.navlinks img{
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 50%;
}
.header {
    background-color: #232323;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.block-navlinks {
    display: flex;
    justify-content: center;

}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.navlinks-textLogo {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.navlinks-textLogo i {
    max-width: 17px;
}

.navlinks-textLogo a {
    display: flex;
}

.navlinks-sign {
    display: flex;
    position: absolute;
    z-index: 8080;
    right: 20px;
    gap: 20px;
    color: #cbcaca;
}

header h2 {
    color: #cbcaca;
}

.aside-infos {
    position: fixed;
    right: 30px;
    top: 0;
    bottom: 0;
    color: black;
    width: 300px;
    display: flex;
    align-items: center;
    z-index: 1;
}

.container-aside-infos {
    width: 100%;
    box-shadow: 0 0 5px  #000000;
    border-radius: 10px 10px 10px 10px;
}

.block-aside-info {
    width: 100%;
}

.block-aside-info h3 {
    background-color: #cbcaca;
    padding: 1rem;
    font-size: 20px;
    text-align: center;
    position: relative;
    border-bottom: 1px solid #918f8f;
}
.block-aside-info h3 i{
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
.block-aside-info:nth-child(1) h3 {
    border-radius: 10px 10px 0 0;
}

.block-aside-info:nth-child(3) .block-aside-infos {
    border-radius: 0 0 10px 10px;
}

.block-aside-infos {
    background-color: #232323;
    color: #cbcaca;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-out;
}

.dropdown {
    position: relative;
    display: block;
}
#dropdown-content-serveurs{
    background-color: #232323;
    color: #cbcaca;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-out;
}
#dropdown-content-tournois{
    background-color: #232323;
    color: #cbcaca;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-out;
}
#dropdown-content-reseaux{
    background-color: #232323;
    color: #cbcaca;
    padding: 1rem;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 10px 10px;
    transition: all 0.5s ease-out;
}
#dropdown-content-reseaux i{
    font-size: 20px;
}
.border-radius-reseaux {
    border-radius: 0 0 10px 10px;
}
.block-profile{
    width: 1000px;
    min-height: 175px;
    background-color: #232323;
    margin-top: 0;
    padding: 1rem;
    color: #cbcaca;
    border-radius: 10px 10px 10px 10px;
}
.profile-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    position: absolute;
    margin-top: -60px;
    margin-left: 50px;
    gap: 10px;
}
.profile-header img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.profile-header-param{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100px;
    margin-left: auto;
    gap: 10px;
    font-size: 25px;
    color: rgba(203, 202, 202, 0.58);
}
.navlinks-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.hr-navbar{
    border-top: 2px solid rgba(255, 9, 27, 0.6);
    border-radius: 10px 10px 10px 10px;
}
.block-edit-profile{
    background-color: #232323;
    color: #cbcaca;
}
.form-edit-profile label{
    color: #cbcaca;
}
.form-edit-profile input{
    background-color: #cbcaca;
    color: black;
}
.form-edit-profile button{
    background-color: #cbcaca;
    color: black;
    margin-left: auto;
}
.block-edit-profile-btn p{
    width: 100%;
    text-align: end;
}
.form-edit-profile img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.block-edit-profile-avatar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.block-edit-profile-avatar input, .block-edit-profile-avatar i{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
}
.block-edit-profile-avatar input{
    z-index: 2;
    border-radius: 50%;
    top: 5px;
    opacity: 0;
}
.avatar-edit{
    width: 150px;
    position: relative;
}
